
[Unit]
Description=Run BodyguardPicoMaster Script at Startup
After=multi-user.target


[Service]
ExecStart=/usr/bin/python3 /home/jasper/Desktop/Picoserver.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pico_service
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target

